@media (max-width: 768px) {
  header .wrap {
    grid-template-columns: 1fr;
  }

  .header-left,
  .header-actions {
    grid-column: 1 / -1;
  }

  .js .header-center {
    display: none;
  }

  .header-actions {
    justify-self: end;
  }
}
