@use 'variables' as *;

@media (max-width: 1024px) {
  header .wrap {
    display:flex;
    flex-wrap:wrap;
    padding:$space-4 $space-12;
    gap:$space-4;
  }

  .header-left,
  .header-actions {
    flex:1 1 50%;
    gap:$space-6;
    align-items:center;
  }

  .header-actions {
    justify-content:flex-end;
  }

  .header-center {
    order:3;
    flex:1 1 100%;
    justify-content:center;
    margin-top:$space-4;
  }

  .header-left h1{
    font-size:1.5rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .header-actions .patient-menu .btn-label{
    display:none;
  }
}
